let mapleader=';'

set number
set incsearch hlsearch
set ignorecase smartcase
set clipboard+=ideaput
set scrolloff=5
set showmode

" highlight the line the cursor is on.
set cursorline

" show cursor position at all times
set ruler

" allow (normal) backspacing over everything in insert mode
set backspace=indent,eol,start

" fast escape
inoremap <silent> jk <esc>:set timeoutlen=500<cr>
vnoremap <silent> jk <esc>:set timeoutlen=500<cr>
